# Set default line ending behavior for all text files
* text=auto

# Ensure that files that should always be LF have LF in the repo
*.sh text eol=lf

# Binary files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary


